<section id="footer">

  <div class="container">

    <div class="row">

      <div class="col">

        <span class="flag-text">Reach us</span><i class="flag fas fa-hand-point-right fa-3x"></i>
        <i class="flag fab fa-facebook-square fa-4x" onclick="window.location = 'https://www.facebook.com/%D9%85%D8%B1%D9%83%D8%B2-%D8%A7%D9%84%D8%B4%D8%B1%D9%88%D9%82-%D8%A7%D9%84%D8%B7%D8%A8%D9%8A-283145412545412'"></i>
        <i class="flag fas fa-map-marker-alt fa-4x" onclick="window.location = 'https://www.google.com/maps/dir//30.36404,30.50886/@30.36404,30.50886,19.5z/data=!4m2!4m1!3e0'"></i>
        <a href="tel:01226229450"><i style="color: white;" class="fa-solid fa-phone fa-4x"></i></a>

      </div>

    </div>

  </div>

</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>
