<%- include("partials/adminHeader"); %>

<script>

$(document).ready(function(){

    // STORE THE ARRAY INTO LOCAL ARRAY TO PERFORM OUR OPERATIONS ON IT
    let tmp1 = "<%= tmpArray %>";
    var localArray = tmp1.split(",");
    // alert(localArray[0]);

    // LOOP THROUGH ALL THE td TO SEE WHAT IS AVAILABLE AND WHAT IS NOT
    $("td").each(function(){
        var theText = $(this).text().split(" ")[0];
        var tdId = $(this).attr("id");
        localArray.forEach(function(el) {
            // CHECK IF THE td EQUALS THE UNAVAILABLE TIME IN THE ARRAY
            if (theText == el) {
                $("#" + tdId + "").addClass("unselectable");
            }
        });
    });
});

</script>

<div class="box">
    <h1 class="box-heading">المواعيد المتاحة</h1>
</div>

<div class="container choose-time-div">
    <div class="time-slots-div">
        <table class="choose-time-table">
            <tr>
                <td id="one">7:00 -> 7:15</td>
                <td id="two">7:15 -> 7:30</td>
                <td id="three">7:30 -> 7:45</td>
                <td id="four">7:45 -> 8:00</td>
            </tr>
            <tr>
                <td id="five">8:00 -> 8:15</td>
                <td id="six">8:15 -> 8:30</td>
                <td id="seven">8:30 -> 8:45</td>
                <td id="eight">8:45 -> 9:00</td>
            </tr>
            <tr>
                <td id="nine">9:00 -> 9:15</td>
                <td id="ten">9:15 -> 9:30</td>
                <td id="eleven">9:30 -> 9:45</td>
                <td id="twelve">9:45 -> 10:00</td>
            </tr>
        </table>
    </div>
</div>

<%- include("partials/footer"); %>