<%- include("partials/header"); %>

<div class="box">
    <h1 class="box-heading">اختر طبيـــب</h1>
</div>

<section id="doctors">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12 col-lg-4">
                <div class="card" style="width: 90%;">
                
                    <h1 class="card-header">عيادة الباطنة</h1>
                    <img src="images/dr_atef.jpg" class="card-img-top" alt="...">
                    
                    <h4 class="card-title">أ . د/ عاطف أبوالسعود</h4>
                    <div class="card-body">
                      <p class="card-text">أستاذ دكتور بكلية الطب جامعة المنوفية وإستشارى أمراض الكبد والجهاز الهضمى والأمراض المتوطنة</p>
                    </div>
                  
                    <a style="text-align: center;" href="/drAtefGuest">
                      <button class="btn btn-lg btn-success">احجز الآن</button>
                    </a>
                </div>
            </div>
          
            <div class="col col-sm-12 col-lg-4">
                <div class="card" style="width: 90%;">
                
                    <h1 class="card-header">عيادة الأنف والأذن</h1>
                    <img src="images/dr_mervat.jpg" class="card-img-top" alt="...">
                    
                    <h4 class="card-title">د/ ميرفت كمال قابيل</h4>
                    <div class="card-body">
                      <p class="card-text">إستشارى طب وجراحة الأنف والأذن والحنجرة بجامعة السادات</p>
                    </div>
                  
                    <a style="text-align: center;" href="/drMervatGuest">
                      <button class="btn btn-lg btn-success">احجز الآن</button>
                    </a>
                </div>
            </div>

            <div class="col col-sm-12 col-lg-4">
              <div class="card" style="width: 90%;">
              
                  <h1 class="card-header">عيادة العظام</h1>
                  <img src="images/dr_ismail.jpg" alt="Dr-Ismail">
                  
                  <!-- <h2 class="card-title">عيادة العظام</h2> -->
                  <h4 class="card-title">أ.د/ إسماعيل توفيق</h4>
                  <div class="card-body">
                    <p class="card-text">مدرس وإستشارى جراحة العظام والمفاصل والمناظير</p>
                  </div>
                
                  <a style="text-align: center;" href="/drIsmailGuest">
                    <button class="btn btn-lg btn-success">احجز الآن</button>
                  </a>
              </div>
          </div>
          
            <div class="col col-sm-12 col-lg-4">
                <div class="card" style="width: 90%;">
                
                    <h1 class="card-header">عيادة العظام</h1>
                    <img src="images/dr_ahmed.jpg" alt="...">
                    
                    <!-- <h2 class="card-title">عيادة العظام</h2> -->
                    <h4 class="card-title">د/ أحمد عاطف أبوالسعود</h4>
                    <div class="card-body">
                      <p class="card-text">أخصائى جراحة العظام والمفاصل بهيئة مستشفيات الشرطة</p>
                    </div>
                  
                    <a style="text-align: center;" href="/drAhmedGuest">
                      <button class="btn btn-lg btn-success">احجز الآن</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </section>

<%- include("partials/footer"); %>