<%- include("partials/header"); %>

<div class="" style="background-color: #eeeeee">

<form style="text-align: center;" class="form-signin" action="/login" method="post">



    <img style="text-align: center;" src="images/logo1.png" alt="" width="250" height="250"> <br>
    <!-- <a style="margin-bottom: 20px;" class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
      <i class="fab fa-google"></i>
      Sign In with Google
    </a> -->
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block d-flex justify-content-center" type="submit" style="width: 100%; margin-bottom: 15px;">Sign in</button>
    <a style="text-decoration: none;" href="/doctorSignIn"><button type="button" class="btn btn-lg btn-primary btn-block d-flex justify-content-center" style="background-color: #1d2024; width: 100%; margin-bottom: 30px;"><i style="margin-right: 15px; margin-top: 6px;" class="fa-solid fa-user-doctor"></i> I'm A Doctor</button></a>
    <a style="font-size: 1.5rem;" href="/register">Create a new account</a>
    <h2 style="margin-top: 25px;">OR</h2>
    <a style="text-decoration: none;" href="/guestAppointment"><button type="button" class="btn btn-lg btn-success btn-block d-flex justify-content-center" style="font-weight: bold; font-size: 1.5rem; width: 100%; margin-bottom: 30px; margin-top: 30px;">احجز بدون تسجيل حساب</button></a>
    <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
  </form>
</div>

<%- include("partials/footer"); %>
