<%- include("partials/adminHeader"); %>

<form action="/viewFeeAndConfirm" method="POST">
    <div class="container">
        <h1><%=fee%> L.E</h1>
    </div>
</form>

<%- include("partials/footer"); %>